<li class="dialog">
	{{#if avatar}}
	<div class='dialog__avatar'>
		<img src={{avatar}} alt={{name}}>
	</div>
	{{else}}
	<div class='dialog__avatar'>
		<img src='https://github.com/DoneAlejandro/yandex-praktikum/blob/sprint_1/src/assets/img/profile.jpg?raw=true' alt="profile">
	</div>
	{{/if}}
	<div>
		<span>
			{{name}}
		</span>
		<p>{{message}}</p>
	</div>
	
</li>